Spark allows you to define a schema in two ways. One is to define it programmatically, and the other is to employ a Data Definition Language (DDL) string, which is much simpler and easier to read.
-: [3. Apache Sparkâ€™s Structured APIs | Learning Spark, 2nd Edition](https://learning.oreilly.com/library/view/learning-spark-2nd/9781492050032/ch03.html#sparkapostrophes_structured_and_complex)

This note shows DDL approach.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = (SparkSession
  .builder
  .appName("AuthorsAges")
  .getOrCreate())

In [3]:
# Define schema for our data using DDL 
schema = "`Id` INT \
       , `First` STRING \
       , `Last` STRING \
       , `Url` STRING \
       , `Published` STRING \
       , `Hits` INT \
       , `Campaigns` ARRAY<STRING>"

# Create our static data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter",
"LinkedIn"]],
       [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter",
"LinkedIn"]],
       [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web",
"twitter", "FB", "LinkedIn"]],
       [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568, 
["twitter", "FB"]],
       [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web",
"twitter", "FB", "LinkedIn"]],
       [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, 
["twitter", "LinkedIn"]]
      ]

In [4]:
# Create a DataFrame using the schema defined above
blogs_df = spark.createDataFrame(data, schema)
# Show the DataFrame; it should reflect our table above
blogs_df.show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [5]:
# Print the schema used by Spark to process the DataFrame
print(blogs_df.printSchema())

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

None

In [6]:
blogs_df.select(expr("Hits * 2")).show(3)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
+----------+
only showing top 3 rows

In [7]:
# use an expression to compute
blogs_df.withColumn("Big Hitters", (expr("Hits"))).show(3)

+---+------+-----+-----------------+---------+----+--------------------+-----------+
| Id| First| Last|              Url|Published|Hits|           Campaigns|Big Hitters|
+---+------+-----+-----------------+---------+----+--------------------+-----------+
|  1| Jules|Damji|https://tinyurl.1| 1/4/2016|4535| [twitter, LinkedIn]|       4535|
|  2|Brooke|Wenig|https://tinyurl.2| 5/5/2018|8908| [twitter, LinkedIn]|       8908|
|  3| Denny|  Lee|https://tinyurl.3| 6/7/2019|7659|[web, twitter, FB...|       7659|
+---+------+-----+-----------------+---------+----+--------------------+-----------+
only showing top 3 rows

In [15]:
# Concatenate columns
blogs_df.withColumn("AuthorisId", concat(expr("first"), expr("Last"))).select(col("AuthorisId")).show(4)

+------------+
|  AuthorisId|
+------------+
|  JulesDamji|
| BrookeWenig|
|    DennyLee|
|TathagataDas|
+------------+
only showing top 4 rows

In [31]:
# sort on column `first`
blogs_df.sort(col("first")).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [32]:
spark.stop()